<!DOCTYPE html>
<html>
<head>
    <title>SIM</title>
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body id="loginDialog-bg">
<div class="container">
    <div id="loginDialog">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content white-text">
                        <span class="card-title"><img src="/images/login-default.png"></span>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn-large" id="logIn">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#logIn').click(function () {
            $.ajax({
                dataType: "json",
                url: window.location + 'logon',
                type: "POST",
                crossDomain: true,
                data: {
                    'username': $('#email').val(),
                    'password': $('#password').val()
                },
                success: function (res) {
                    window.location.pathname = '/dashboard';
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });

    </script>
    <!--<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
</div>
</body>
</html>
