<footer class="page-footer black">
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col l6 s12">-->
                <!--<h5 class="white-text">Footer Content</h5>-->

                <!--<p class="grey-text text-lighten-4">We believe that we can achieve more..</p>-->
            <!--</div>-->
            <!--<div class="col l4 offset-l2 s12">-->
                <!--<h5 class="white-text">Links</h5>-->
                <!--<ul>-->
                    <!--<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>-->
                    <!--<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>-->
                    <!--<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>-->
                    <!--<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="footer-copyright">
        <div class="container">
            SIM 2016
            <a class="grey-text text-lighten-4 right modal-trigger" href="#modal4">About</a>
            <div id="modal4" class="modal modal-fixed-footer black-text" style="display: none; opacity: 1; top: 0px;">
                <div class="modal-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="modal-footer lighten-4">
                    <!--<a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Disagree</a>-->
                    <a href="#" class="waves-effect waves-block btn-flat modal-action modal-close">Close</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    /**
     * Using the title for the router's purpose
     */
    window.location.hash= document.title;
</script>
<% include ./js-imports.ejs %>
<!--<script type="text/javascript">-->
    <!--$(document).ready(function () {-->
        <!--Materialize.toast('Welcome!', 1000, 'rounded');-->
        <!--$(".button-collapse").sideNav();-->
    <!--});-->
<!--</script>-->
</body>
</html>