<footer class="page-footer black">
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col l6 s12">-->
                <!--<h5 class="white-text">Footer Content</h5>-->

                <!--<p class="grey-text text-lighten-4">We believe that we can achieve more..</p>-->
            <!--</div>-->
            <!--<div class="col l4 offset-l2 s12">-->
                <!--<h5 class="white-text">Links</h5>-->
                <!--<ul>-->
                    <!--<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>-->
                    <!--<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>-->
                    <!--<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>-->
                    <!--<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="footer-copyright">
        <div class="container">
            SIM 2016
            <a class="grey-text text-lighten-4 right" href="#!">About</a>
        </div>
    </div>
</footer>
<% include ./js-imports.ejs %>
<script type="text/javascript">
    $(document).ready(function () {
        Materialize.toast('Welcome!', 1000, 'rounded');
        $(".button-collapse").sideNav();
    });
</script>
</body>
</html>